<h2 id="braian-bezkonkurencyjny-retrospektywny-asystent-imion-aplikowanych-noworodkom">BRAIAN - Bezkonkurencyjny Retrospektywny Asystent Imion Aplikowanych Noworodkom</h2>
<p>Jest to narzędzie do przeglądania trendów nadawanych imion. Bazuje na otwartych  <a href="https://dane.gov.pl/dataset/219">danych publicznych</a>  z lat 2000-2020.</p>
<ul>
<li>Pozwala szybko ocenić jak przebiegała historia popularności danego imienia.</li>
<li>Porównuje imiona mniej i bardziej popularne.</li>
<li>Łatwe wyszukiwanie (np. imiona kończące się na &quot;cja&quot;, zawierające &quot;sz&quot;, na litery &quot;Ko&quot; itd.).  </li>
<li>Aktualne trendy i statystyki, imiona szybko zyskujące na popularności, imiona wyjątkowe, albo minione hity.  </li>
<li>Przeglądanie imion według pochodzenia (słowiańskie, greckie, łacińskie, perskie, semickie, germańskie).  </li>
<li>Wykresy popularności imion.  </li>
<li>Offline  </li>
</ul>
<p>Jeśli jesteś uzależniony/uzależniona od ciągłego sprawdzania &quot;ile dzieci dostało takie imię&quot; i &quot;a jak to było kiedyś&quot; już teraz możesz mieć swoją ulubioną aplikację w kieszeni i korzystać z niej wszędzie tam nawet, gdzie internet nie sięga.</p>
<p>Koło ratunkowe dla tych, których dziecko otrzyma niedługo imię kierownika Urzędu Stanu Cywilnego.</p>
<p>Ciekawsze wnioski:</p>
<ul>
<li>w zeszłym roku połowa dzieci otrzymała jedno z 16 najpopularniejszych imion, w 2000 było to 13 imion,</li>
<li>z roku na rok imiona chłopców i dziewczynek są coraz bardziej różnorodne,</li>
<li>10 najpopularniejszych imion dziewczynek w 2000 roku otrzymało 45% dziewczynek. 17 lat później te same imiona dostało 15% dziewczynek,</li>
<li>w 2001 roku 1 na 10 chłopców otrzymuje imię Jakub,</li>
<li>w 2000 roku imiona Antoni i Jarosław otrzymało ok. 0.2% chłopców. 17 lat później imię Jarosław wybierane jest 11 razy rzadziej, a Antoni 28 razy częściej.</li>
</ul>
<h3 id="o-mnie">O mnie</h3>
<p>Nazywam się Kasia Sobiczewska - zajmuję się statystyką, lubię matematykę i kręci mnie programowanie. W dzień szczęśliwa mama, w nocy data scientist. Pomysł na aplikację pomagającą wybrać imię dla dziecka urodził się przed moim porodem, szczegóły dopracowałam już pomiędzy karmieniami ;)</p>